# Backend
DB_URL=jdbc:postgresql://localhost:5433/fitness
DB_USERNAME=admin
DB_PASSWORD=admin
JWT_SECRET=ZmFrZS1kZXYtc2VjcmV0LXNob3VsZC1iZS1vdmVycmlkZGVuLWluLXByb2Q=
JWT_ACCESS_EXP_MIN=30

# Frontend
VITE_API_URL=http://localhost:1111
